<div class="limitador">
	<header class="festa" style="background-image: url(<%- staticRoot %>/imagens/evento/<%= evento.id %>.jpg);">
	</header>
	
	<div class="container-fluid">
		<h1>Dados dos Ingressos</h1>
		<form enctype="multipart/form-data">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="nomeFesta">Festa</label>
						<input id="nomeFesta" class="form-control" type="text" readonly="readonly"
							value="<%= evento.nome %>" />
						<input id="idevento" name="idevento" type="hidden" value="<%= evento.id %>" />
					</div>
				</div>

				<div class="col-sm-4">
					<div class="form-group">
						<label for="idtipo">Tipo de ingresso</label>
						<select id="idtipo" name="idtipo" class="form-control" size="1">
							<option value="1">Inteira</option>
							<option value="2">Meia</option>
							<option value="3">Meia Universidade</option>
						</select>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="form-group">
						<label for="idsetor">Setor</label>
						<select id="idsetor" name="idsetor" class="form-control" size="1">
							<option value="1">Pista</option>
							<option value="2">Área Vip</option>
							<option value="3">Camarote</option>
						</select>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="quantidade">Quantidade</label>
						<input id="quantidade" name="quantidade" class="form-control" type="number" onkeyup="atualizarRecebe()"
							onchange="atualizarRecebe()" />
					</div>
				</div>

				<div class="col-sm-4">
					<div class="form-group">
						<label for="valor">Valor unitário</label>
						<input id="valor" name="valor" class="form-control" type="text" onkeyup="atualizarRecebe()" onchange="atualizarRecebe()" />
					</div>
				</div>

				<div class="col-sm-4">
					<div class="form-group">
						<label for="recebe">Você recebe</label>
						<input id="recebe" class="form-control" type="text" readonly="readonly" value="0,00" />
					</div>
				</div>
			</div>

			<!--
		<hr />

		<h1>Seus Dados Bancários</h1>

		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label for="conta">Número da conta</label>
					<input id="conta" class="form-control" type="number" />
				</div>
			</div>

			<div class="col-sm-3">
				<div class="form-group">
					<label for="agencia">Agência</label>
					<input id="agencia" class="form-control" type="number" />
				</div>
			</div>

			<div class="col-sm-3">
				<div class="form-group">
					<label for="banco">Banco</label>
					<input id="banco" class="form-control" type="number" />
				</div>
			</div>

			<div class="col-sm-3">
				<div class="form-group">
					<label for="cpf">CPF</label>
					<input id="cpf" class="form-control" type="number" />
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3">
				<div class="checkbox">
					<label for="salvar dados para vendas futuras">
						<input type="checkbox" id="salvar dados" /> Salvar dados para vendas futuras
					</label>
				</div>
			</div>
		</div>
		-->

			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label>Comprovante de posse do(s) ingresso(s)</label>
						<input type="file" id="comprovante" name="comprovante" accept="image/jpeg" class="form-control" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 col-sm-offset-6">
					<a href="<%- root %>/" class="btn btn-primary btn-block">Voltar</a>
				</div>

				<div class="col-sm-3">
					<button type="submit" class="btn btn-primary btn-block">Publicar</button>
				</div>
			</div>
	</div>
</div>
</form>
<%- contentFor("styles") %>
	<style type="text/css">
		.festa {
			background-image: url(/imagens/festa.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			text-align: center;
			padding: 150px 50px;
			margin-bottom: 30px;
		}
	</style>

	<%- contentFor("scripts") %>
		<script type="text/javascript">
			function atualizarRecebe() {
				var qtd = parseInt($("#quantidade").val());
				var valor = parseFloat($("#valor").val().replace(",", "."));
				var total = 0;
				if (!isNaN(qtd) && qtd > 0 && !isNaN(valor) && valor > 0) {
					total = qtd * valor * 0.8;
				}
				$("#recebe").val(total.toFixed(2).replace(".", ","));
			}
			$("form").validate({
				rules: {
					// Para quase tudo existem duas, três ou mais formas de fazer a mesma coisa...! :)
					nome: {
						quantidade: true,
						minlength: 1
					},
					//email: {
					//	required: true,
					//	maxlength: 50,
					//	email: true
					//}
				},

				submitHandler: function (form) {
					if ($.active) {
						return;
					}
					$.ajax({
						url: "<%- root %>/api/venda/criar",
						method: "POST",
						data: new FormData(form),
						contentType: false,
						processData: false,

						success: function (dadosDeRetorno) {
							form.reset();
							alert("Ingresso(s) criado(s) com sucesso!");
						},

						error: function (xhr) {
							try {
								// Tentar converter a resposta em um JSON
								alert(JSON.parse(xhr.responseText));
							} catch (excecao) {
								// Se não foi possível converter a resposta em JSON,
								// apenas ignora e mostra a mensagem de erro padrão
								alert("Algo deu errado :(");
							}
						}
					});
				}
			})
		</script>
