<div class="limitador">
	<header class="imagem-fundo"></header>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4" id="divBusca">
				<!--<input type="text" id="txtBusca" class="form-control" placeholder="Buscar..."/>-->
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search for...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button"><img src="/imagens/search.png" width="20" style="max-width: 20px;" /></button>
					</span>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-4">
				<div class="festa">
					<div class="imagem" style="background-image: url(/imagens/sleepover.PNG);"></div>
					<div class="informacoes">
						<h4 class="cor-preto" style="padding-left: 10px;">SleepOver | Endless Journey</h4>
						<h6 class="cor-detalhe" style="margin-top:-20px; padding-left: 10px;">12 ingressos disponiveis</h6>
						<a href="<%- root %>/ingressos"><img style="margin-top:-47px;" src="/imagens/comprar.png" width="100px;" id="btnComprar" alt=""/></a>
						<a href="<%- root %>/dadosBanca"><img style="float: right; margin-top:-14px;" src="/imagens/vender.png" width="95px;" id="btnVender" alt=""/></a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="festa">
					<div class="imagem" style="background-image: url(/imagens/sleepover.PNG);"></div>
					<div class="informacoes">
						<h4 class="cor-preto" style="padding-left: 10px;">SleepOver | Endless Journey</h4>
						<h6 class="cor-detalhe" style="margin-top:-20px; padding-left: 10px;">12 ingressos disponiveis</h6>
						<a href="<%- root %>/ingressos"><img style="margin-top:-47px;" src="/imagens/comprar.png" width="100px;" id="btnComprar" alt=""/></a>
						<a href="<%- root %>/dadosBanca"><img style="float: right; margin-top:-14px;" src="/imagens/vender.png" width="95px;" id="btnVender" alt=""/></a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="festa">
					<div class="imagem" style="background-image: url(/imagens/sleepover.PNG);"></div>
					<div class="informacoes">
						<h4 class="cor-preto" style="padding-left: 10px;">SleepOver | Endless Journey</h4>
						<h6 class="cor-detalhe" style="margin-top:-20px; padding-left: 10px;">12 ingressos disponiveis</h6>
						<a href="<%- root %>/ingressos"><img style="margin-top:-47px;" src="/imagens/comprar.png" width="100px;" id="btnComprar" alt=""/></a>
						<a href="<%- root %>/dadosBanca"><img style="float: right; margin-top:-14px;" src="/imagens/vender.png" width="95px;" id="btnVender" alt=""/></a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<div class="festa">
					<div class="imagem" style="background-image: url(/imagens/sleepover.PNG);"></div>
					<div class="informacoes">
						<h4 class="cor-preto" style="padding-left: 10px;">SleepOver | Endless Journey</h4>
						<h6 class="cor-detalhe" style="margin-top:-20px; padding-left: 10px;">12 ingressos disponiveis</h6>
						<a href="<%- root %>/ingressos"><img style="margin-top:-47px;" src="/imagens/comprar.png" width="100px;" id="btnComprar" alt=""/></a>
						<a href="<%- root %>/dadosBanca"><img style="float: right; margin-top:-14px;" src="/imagens/vender.png" width="95px;" id="btnVender" alt=""/></a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="festa">
					<div class="imagem" style="background-image: url(/imagens/sleepover.PNG);"></div>
					<div class="informacoes">
						<h4 class="cor-preto" style="padding-left: 10px;">SleepOver | Endless Journey</h4>
						<h6 class="cor-detalhe" style="margin-top:-20px; padding-left: 10px;">12 ingressos disponiveis</h6>
						<a href="<%- root %>/ingressos"><img style="margin-top:-47px;" src="/imagens/comprar.png" width="100px;" id="btnComprar" alt=""/></a>
						<a href="<%- root %>/dadosBanca"><img style="float: right; margin-top:-14px;" src="/imagens/vender.png" width="95px;" id="btnVender" alt=""/></a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="festa">
					<div class="imagem" style="background-image: url(/imagens/sleepover.PNG);"></div>
					<div class="informacoes">
						<h4 class="cor-preto" style="padding-left: 10px;">SleepOver | Endless Journey</h4>
						<h6 class="cor-detalhe" style="margin-top:-20px; padding-left: 10px;">12 ingressos disponiveis</h6>
						<a href="<%- root %>/ingressos"><img style="margin-top:-47px;" src="/imagens/comprar.png" width="100px;" id="btnComprar" alt=""/></a>
						<a href="<%- root %>/dadosBanca"><img style="float: right; margin-top:-14px;" src="/imagens/vender.png" width="95px;" id="btnVender" alt=""/></a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<%- contentFor("styles") %>
<style type="text/css">
	.imagem-fundo {
		background-image: url(/imagens/festa-fundo-index.png);
		background-repeat: no-repeat;
		background-size: contain;
		text-align: center;
		padding: 150px 0px;
	}

	#divBusca {
		margin-bottom: 30px;
	}

	.festa {
		position: relative;
		margin-bottom: 30px;
		overflow: hidden;
		text-align: right;
	}

	.imagem {
		position: absolute;
		background-size: contain;
		background-position: left center;
		background-repeat: no-repeat;
		left: 0px;
		top: 0px;
		bottom: 0px;
		right: 120px;
		background-color: #fff;
		border-radius: 10px 0px 0px 10px;
	}

	.informacoes{
		display: inline-block;
		vertical-align: top;
		text-align: left;
		background-color: #fff;
		height: 170px;
		width: 120px;
		border-radius: 0px 10px 10px 0px;
		padding-top: 5px;
	}
</style>
