<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<%- include("cabecalho") %>

	<%- defineContent("styles") %>
</head>
<body>

	<%- include("navbar") %>

	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header"><%=((typeof titulo === "undefined" || !titulo) ? "Safetix" : titulo) %></h1>
			</div>
		</div>

		<%- body %>

	</div>

	<%- include("rodape") %>

	<%- defineContent("scripts") %>
</body>
</html>
