
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Criar Evento</div>
			<div class="panel-body no-bottom">
				<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />
				<div class="form-group">
					<label for="nome">Nome do Evento</label>
					<input id="nome" name="nome" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" />
				</div>
				<div class="form-group">
					<label for="datainicial">Data Inicial</label>
					<input id="datainicial" name="datainicial" class="form-control" type="date" spellcheck="false" value="<%=(item ? item.datainicial : '') %>" />
				</div>
				<div class="form-group">
					<label for="datafinal">Data Final</label>
					<input id="datafinal" name="datafinal" class="form-control" type="date" spellcheck="false" value="<%=(item ? item.datafinal : '') %>" />
				</div>
				<div class="form-group">
					<label for="horario">Horário</label>
					<input id="horario" name="horario" maxlength="40" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.horario : '') %>" />
				</div>
				<div class="form-group">
					<label for="descricao">Descrição</label>
					<textarea id="descricao" name="descricao" maxlength="8000" class="form-control" rows="10" style="resize: vertical;"><%=(item ? item.descricao : '') %></textarea>
				</div>
				<div class="form-group">
					<label for="endereco">Endereço</label>
					<input id="endereco" name="endereco" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.endereco : '') %>" />
				</div>
				<div class="form-group">
					<label for="imagem">Imagem</label>
					<input id="imagem" name="imagem" class="form-control" type="file" accept="image/*" />
				</div>

				<input type="hidden" id="latitude" name="latitude" value="<%=(item ? item.latitude : '') %>" />
				<input type="hidden" id="longitude" name="longitude" value="<%=(item ? item.longitude : '') %>" />
			</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Criar Evento') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			nome: {
				required: true,
				minlength: 3,
				maxlength: 100
			},
			datainicial: {
				required: true
			},
			datafinal: {
				required: true
			},
			horario: {
				required: true,
				minlength: 3,
				maxlength: 40
			},
			descricao: {
				required: true,
				minlength: 3,
				maxlength: 8000
			},
			endereco: {
				required: true,
				minlength: 3,
				maxlength: 100
			},
		},
		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/evento/alterar", new FormData(form), function (response) {
				if (response.success)
					Notification.success("Evento alterado com sucesso! " + emoji.happy);
				else
					Notification.error(response.value, true);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/evento/criar", new FormData(form), function (response) {
				if (response.success) {
					resetForm("#form");
					Notification.success("Evento criado com sucesso! " + emoji.happy);
				} else {
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
